<div class="page">
  <div class="content">
    <h1 class="title">Portfolio &amp; Compliance Dashboard</h1>

    <!-- KPI cards -->
    <section class="section">
      <div class="kpi-grid">
        <p-card class="kpi">
          <div class="kpi-title">Net Asset Value (NAV)</div>
          <div class="kpi-value">
            @if (loading()) {
              <i class="pi pi-spin pi-spinner"></i> Loading...
            }
            @else {
              {{ dashboardValues()?.currentPrice | currencyOrNone }}
            }
          </div>
        </p-card>

        <p-card class="kpi">
          <div class="kpi-title">Performance (%)</div>
          <div class="kpi-value" [ngClass]="dashboardValues()?.yield | percentageColor:true">
            @if (loading()) {
              <i class="pi pi-spin pi-spinner"></i> Loading...
            }
            @else {
              {{ dashboardValues()?.yield | percentageOrNone }}
            }
          </div>
        </p-card>
      </div>
    </section>

    <!-- Charts row -->
    <section class="section">
      <div class="panel-grid">
        <p-card class="panel">
          <div class="panel-title">Asset Allocation</div>
            @if (loading()) {
              <i class="pi pi-spin pi-spinner"></i> Loading...
            }
            @else if (donutLabels() && donutSeries()) {
              <apx-chart
                class="apex-donut"
                [series]="donutSeries()!"
                [labels]="donutLabels()!"
                [chart]="{ type: 'donut', height: 300, foreColor: '#fff' }"
                [colors]="[ '#2374ab', '#231651', '#4dccbd', '#ff8484', '#f5b700', '#9b5de5', '#00bbf9', '#fee440', '#ff006e' ]"
                [dataLabels]="{ enabled: false, style: { colors: ['#ffffff'] } }"
                [stroke]="{ width: 0 }"
                [plotOptions]="
                {
                    pie: {
                      donut: {
                        size: '72%',
                        labels: {
                          show: true,
                          value: { 
                            color: '#ffffff',
                            formatter: yAxisLabelFormatter
                           },
                          name: { color: '#ffffff' },
                          total: { color: '#ffffff' }
                        }
                      }
                    }
                  }"
                [legend]="{ position: 'bottom', labels: { colors: '#ffffff' } }"
                [tooltip]="tooltipOptions">
              </apx-chart>
            }
            @else {
              <span>No data available</span>
            }
        </p-card>
        <p-card class="panel">
          <div class="panel-title">Best assets performance</div>
            @if (loading()) {
              <i class="pi pi-spin pi-spinner"></i> Loading...
            }
            @else if (topPerformanceTab()) {
              <apx-chart
                [series]="topPerformanceTab()?.series!"
                [xaxis]="topPerformanceTab()?.xaxis!"
                [dataLabels]="topPerformanceTab()?.dataLabels!"
                [chart]="{ type: 'bar', height: 350, foreColor: '#fff' }"
                [yaxis]="{ labels: { style: { colors: '#fff' } } }"
                [plotOptions]="{ 
                  bar: {
                  horizontal: true,
                  borderRadius: 4,
                  colors: {
                    ranges: [
                      { from: -1000, to: 0, color: '#FF6B6B' },
                      { from: 0, to: 1000, color: '#4ECDC4' },
                    ],
                  },
                }}"
                [legend]="{ show: false }">
              </apx-chart>
            } 
            @else {
              <span>No data available</span>
            }
        </p-card>
      </div>
    </section>

    <!-- Portfolio Graph -->
    <section class="section">
        <p-card class="panel">
          <div class="time-selector flex items-center">
            <p-selectButton
              [options]="periodOptions"
              [(ngModel)]="selectedPeriod"
              (onChange)="selectPeriod($event.value)"
              optionLabel="label"
              optionValue="value"
              [style]="{ minWidth: 'auto' }">
            </p-selectButton>
          </div>
          <apx-chart
          [chart]="{
            type: 'line',
            height: 350,
            toolbar: { show: false },
            zoom: { enabled: false },
            background: 'transparent'
          }"
          [stroke]="{
            curve: 'smooth',
            width: 2
          }"
          [colors]="['#2563eb']"
          [series]="[
            {
              name: 'Price',
              data: charData()
            }
          ]"
          [xaxis]="{
            type: 'datetime',
            labels: {
              show: true,
              style: {
                colors: '#ffffff',
                fontSize: '14px',
                fontWeight: '600'
              }
            },
            axisBorder: { show: false },
            axisTicks: { show: false }
          }"
          [yaxis]="{
            opposite: true,
            labels: {
              style: {
                colors: '#ffffff',
                fontSize: '14px',
                fontWeight: '600'
              },
              formatter: yAxisLabelFormatter
            },
            axisBorder: { show: false }
          }"
          [grid]="{
            show: true,
            borderColor: '#243246',
            row: { colors: ['transparent'], opacity: 0.5 },
            column: { colors: ['transparent'], opacity: 0.5 }
          }">
        </apx-chart>
      </p-card>
    </section>

  </div>
</div>